@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");
.top {
  width: 100%;
  height: 70px;
  /* background-color: rgb(118, 180, 194); */
  background-color: #314152;
  position: sticky;
  top: 0;
  display: grid;
  align-items: center;
  z-index: 999;
  font-family: "Josefin Sans", sans-serif;
  grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
}
.topLeft {
  /* font-family: "Bungee Spice", cursive; */
  grid-column: 1/3;
  justify-content: start;
  color: white;
}

.topCenter {
  grid-column: 3/4;
}

.topList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.topListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  color: white;
}
.link {
  color: white;
}
.link:hover {
  color: whitesmoke;
}
